.email-sender {
    color: rgb(32, 33, 36);
    border: 3px solid red;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: .875rem;
}

.email-sender td {
    padding: 6px;
}

.email-sender-logo {
    height: 30px;

}

.email-sender-details {
    display: inline-flex;
    flex-direction: column;
}

.email-sender-name {
    /* font-weight: bold; */
}

.email-sender-address {
    color: #5F6368;
    font-size: 0.75rem;
    margin-top: 3px;
}

.emails-count {
    font-weight: bold;

}
  