#declutter-body {
  background-color: white;
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  height: 97vh;
  display: flex;
  flex-direction: column;
}

#declutter-body.login {
  color: white;
  background-color: #233b86;
  align-items: center;
  font-size: 1rem;
}

#declutter-body.login #email-account {
  margin-top: 7px;
  font-size: 0.75rem;
}

.button-bar {
  padding: 10px 20px 0;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
}

#senders {
  padding: 10px;
  overflow: hidden auto;
  flex-grow: 1;
}
