#declutter-body {
    display: none;
    background-color: white;
    border-radius: 16px;
    margin-left: 16px;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.declutter-body-header {
    display: flex;
    justify-content: space-between;
}

.declutter-body-title {
    font-size: 1rem;
    padding-left: 20px;
}

.close-button{
    background-image: url(https://www.gstatic.com/images/icons/material/system_gm/1x/close_black_20dp.png);
    background-color:white;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 40px;
    margin: 6px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.close-button:hover {
    background-color: #E7E7E7;
}

.button-bar {
    padding: 0px 20px;
    min-width: 300px;
}

.button-bar button {
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    height: 32px;
    margin: 4px;
    padding: 0 16px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.button-bar button i {
    margin-right: 4px;
}

#unsubscribe-button {
    background-color: #233B86;
    color: white;
}

#unsubscribe-button:hover {
    background-color: #1A4C9B;
}

#delete-button {
    background-color: #BB1826;
    color: white;
}

#delete-button:hover {
    background-color: #C21807;
}


.loading-message {
    padding-left: 20px;
}

#senders {
    padding: 10px;
    overflow-y: scroll;
    height: 80%;
}