#declutter-button {
    cursor: pointer;
    display: inline;
    height: 44px;
    width: 44px;
}

#declutter-button a {
    margin: 2px;
    padding: 8px;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    border-radius: 24px;
}

#declutter-button a:hover {
    background-color: #EAEBEE;
}

#declutter-button a > svg {
    fill: #F8FAFD;
}
#declutter-button a:hover > svg {
    fill: #EAEBEE;
}