#declutter-body {
    background-color: white;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}

.declutter-body-header {
    display: flex;
    justify-content: space-between;
}

.declutter-body-title {
    font-size: 1rem;
    padding-left: 20px;
}

.button-bar {
    padding: 10px 20px 0;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
}

#senders {
    padding: 10px;
    overflow-y: scroll;
    height: 80%;
}